* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	background-color: #EC715F;
}

.header-text {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}


.header-img {
	height: 70px;
	float: left;
}

nav {
	float: right;
}

.nav-list {
	font-size: 16px;
	text-align: right;
	line-height: 70px;
}

.nav-list-item {
	margin: 0 30px;
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: #fafafa;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}

.main-visual-title {
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
	padding-bottom: 10px;
}

.main-visual-text {
	font-size: 20px;
	color: #fafafa;
}

#Portfolio {
	background-color: #eceff1;
}

.Portfolio {
	width: 920px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.title {
	font-size: 32px;
	color: #000000;
	margin-bottom: 8px;
}

.title::after {
	content: "";
	display: block;
	clear: both;
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}

.text {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #000000;
}

.Portfolio-image {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
}

.Portfolio-image:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin-right: 10px;
	margin-bottom: 10px;
}

.Portfolio-image:nth-child(2) {
	background-image: url(img/websuku.png);
	margin-right: 10px;
	margin-bottom: 10px;
}

.Portfolio-image:nth-child(3) {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}

.Portfolio-image:nth-child(4) {
	background-image: url(img/webcamp.png);
	margin-right: 10px;
}

.Portfolio-image:nth-child(5) {
	background-image: url(img/talk.jpg);
	margin-right: 10px;
}

.Portfolio-image:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

.Feature {
	width: 980px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.Strength {
	width: 320px;
	float: left;
}

.Strength:nth-child(-n+2) {
	margin-right: 10px;
}


.Strength-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #000000;
}

.Strength-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

#Profile {
	background-color: #eceff1;
}

.Profile {
	width: 1024px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.Profile-icon {
	width: 512px;
	float: left;
}

.Profile-image {
	width: 250px;
	height: 250px;
	background-image: url(img/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
}

.Profile-details {
	width: 512px;
	float: left;
	text-align: left;
}

.Profile-details-title {
	font-size: 20px;
	margin-bottom: 5px;
}

.Profile-details-text {
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}

.Contact {
	width: 800px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.Mail-Tel {
	width: 400px;
	float: left;
	text-align: left;
	display: inline-block;
}

.SNS {
	width: 400px;
	float: left;
	text-align: left;
	display: inline-block;
}

.Mail-Tel-title {
	font-size: 20px;
	margin-bottom: 5px;
}

.Mail-Tel-text {
	font-size: 16px;
	margin-bottom: 20px;
	text-decoration: underline;
}

.SNS-title {
	font-size: 20px;
	margin-bottom: 5px;
}


.fas {
	font-size: 60px;
}

.fab {
	font-size: 50px;
	margin-right: 20px;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}

@media screen and (max-width: 768px) {
	header, .main-visual, #Portfolio, #Feature, #Profile, #Contact, footer {
		width: 90%;
		margin: 0 auto;
	}

	.header-text {
		width: 90%;
		height: 50px;
	}

	.header-img {
		height: 50px;
	}

	nav {
		display: none;
	}

	.ham {
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border: solid;
		color: #fafafa;
		float: right;
		margin-top: 5px;
	}

	.ham_line {
		position: absolute;
		left: 10px;
		width: 20px;
		height: 1px;
		background-color: #fafafa;
	}

	.ham_line1 {
		top: 10px;
	}

	.ham_line2 {
		top: 18px;
	}

	.ham_line3 {
		top: 26px;
	}

	.main-visual {
		width: 90%;
		height: 650px;
		background-image: url(img/code.png);
	}

	.main-visual-title {
		font-size: 40px;
	}

	.main-visual-text {
		font-size: 18px;
	}

	.Portfolio {
		width: 90%;
	}

	.Portfolio-image {
		float: none;
		margin: 0 auto;
	}

	.Portfolio-image:nth-child(odd) {
		display: none;
	}

	.Portfolio-image:nth-child(even) {
		margin-right: 0;
		margin-bottom: 10px;
	}
}